# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# MLflow
# =========================
notebooks/mlruns/

# =========================
# Data
# =========================
data/raw/
data/processed/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Pytest
# =========================
.pytest_cache/**/mlruns/
